@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #1f1f1f;
}

#gengar {
    display: flex;
    justify-content: center;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.itens,
#contador {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#contador {
    font-size: 5em;
}

button {
    height: 3.2em;
    width: 6.5em;
    margin: 0.2em;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

#btnIniciar {
    background-color: #266bac;
}

#btnPausar {
    background-color: #5a5a5a;
}

#btnParar {
    background-color: #d12a2a;
}
